create-shop {
  font-family: Arial, Helvetica, sans serif, serif;
  display: inline-block;
  border:1px solid #ddd;
  border-radius:6px;
  box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  overflow: hidden
}

.title {
  transition:background-color 180ms;
  padding:3rem;
  font-size: 2rem;

  &:hover {
    background:#85cadb;
    cursor: pointer;
  }
}

form {
  padding:2rem;
  font-size: 1.1rem;
}

.block {
  display: block;
  margin-top: 1.1rem
}