body, html {
    padding:0;
    margin:0;
    font-size: 13px;
}

shop-app {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  color: #fff;
}

header {
    background: #DE7150;
    padding: 1rem 0.75rem;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}