body, html {
    padding:0;
    margin:0;
    font-size: 13px;
}

shop-app {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  color: #000;
}

header {
    background: #DE7150;
    padding: 1rem 0rem;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
}

h2 {
    margin: 0;
    padding:0;
    display: inline-block;
    padding-right: 2rem
}

a {
  text-decoration: none
}

.title-bar {
  padding-bottom:1rem;
  margin-bottom: 2rem;
  border-bottom:1px solid #ccc;

  .address {
    display: inline-block;
    font-size: 0.9rem;
    color:#aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.width-container {
    margin:0 auto;
    max-width: 1024px;
    padding:0 2rem;
}

main {
    padding-top:2rem;
}

input {
    border:1px solid #ccc;
    padding: 4px 6px;
    font-family: Arial, Helvetica, sans serif, serif;
    color: #555;
    border-radius:4px;
    font-size: 1.1rem;

    &:focus {
        border:1px solid #555;
    }
}

button {
    cursor: pointer;
    padding: 6px 11px;
    border: 1px solid #DE7150;
    border-radius: 4px;
    background:#fff;
    transition: background-color 180ms, border-color 180ms, color 180ms;
    font-weight: bold;
    margin-top: 1.2rem;

    &:hover, &:focus {
        border:1px solid #cc674b;
        background:#DE7150;
        color: #fff;
    }
}

.loading-icon {
    margin:0 auto;
    width: 25%;
    padding-bottom:25%;
    background-image:url(/assets/img/spinner.svg);
    background-size:cover;

}

.cart-link {
  cursor: pointer;
  padding:6px 11px;
  border:1px solid #fff;
  border-radius:4px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  margin-right: 2rem;
  color: #fff
}


.shop-tile {
  font-family: Arial, Helvetica, sans serif, serif;
  display: inline-block;
  border:1px solid #ddd;
  border-radius:6px;
  box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  vertical-align: top;
  position: relative;
  color: #000;

  .shop-address {
    position: absolute;
    bottom:1rem;
    left:1rem;
    right:1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaa;
    font-size: 0.9rem
  }
}

.title {
  transition:background-color 180ms;
  padding:3rem;
  font-size: 2rem;

  &:hover {
    background:#85cadb;
    cursor: pointer;
  }

  .shop-tile & {
    padding-top:2rem;
    padding-bottom:4rem;
  }
}

.product-tile {
  font-family: Arial, Helvetica, sans serif, serif;
  display: inline-block;
  border:1px solid #ddd;
  border-radius:6px;
  box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  overflow: hidden;
  vertical-align: top;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  padding-top:1.5rem;
  min-width: 25%;
  max-width: 100%;
  transition:background-color 180ms;
  color: #000;

  & button { 
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

  &:hover {
    background:#f2f2f2;
    cursor: pointer
  }
}

.add-cart {
    margin-bottom: 1.5rem;
}

.product-image {
    width: 100%;
    padding-bottom:50%;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

.product-title {
    font-weight: bold;
    padding:1rem 1.5rem;
    padding-bottom:0;
    font-size: 1.5rem;
}

.product-sku,
.product-category,
.product-price,
.product-stock,
.product-address {
    padding:1rem 1.5rem
}

.product-address {
  color: #aaa;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis
}

.product-merchant {
    padding-bottom:1.5rem;
    padding-top:0.3rem;
    background:#f2f2f2
}

.shop-back, .product-back {
    float: right;

    a {
      color: #000;
    }

    &:hover a {
        cursor: pointer;
        color:#DE7150
    }
}